body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #242121; 
    padding: 10px; 
}

a {
    color: white; 
    text-decoration: none; 
}

ul {
    display: flex; 
    flex-wrap: wrap;
    list-style-type: none; 
    padding: 0.5%; 
    margin: 0; 
}

li {
    margin-right: 20px; 
}

nav {
    display: flex; 
    justify-content: flex-end; 
}

@media (max-width: 670px) {
    header {
        flex-direction: column;  
    }

    ul {
        display: flex; 
        flex-direction: column; 
        padding: 10px; 
        margin: 0; 

    }

    li {
        background-color: gray; 
        padding: 5px 10px; 
        margin: 5px 0; 
        border: 1px solid black; 
        border-radius: 5px;
        text-align: center; 
        width: auto; 
    }

    a {
        font-size: 1.5em; 
        margin: 10px;
        text-align: center; 
    }
}

h3 {
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 50px;
}

section {
    display: flex; 
    flex-wrap: wrap; 
    margin-top: 20px;
}

article {
    margin-right: 15px; 
    margin-bottom: 30px; 
    width: 300px; 
    text-align: center; 
    flex: 1 1 250px;
    max-width: 670px;
    min-width: 300px;
}

img {
    width: 100%;
    height: auto; 
    max-height: 700px;    
}

@media (max-width: 670px) {
    section {
        flex-direction: column; 
        align-items: center; 
        max-width: 100%;
        max-height: auto;
    }

    article {
        max-width: 100%; 
    }
}